.search-bar {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.search-btn {
  padding: 16px;
  border-radius: 4px;
  background-color: orange;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
}

.weather-ctn {
  display: flex;
  flex-wrap: wrap;
}

.weather-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.weather-card {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
}

